lightgrey = #EEE;
blue = #319EF0;
green = #1EB771;
leading = 25px;

gradient( color1, color2 )
  background: color1;
  background-image: -webkit-linear-gradient(top, color1 0%, color2 100%);

border-box()
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

clearfix()
  &:after
    content: "";
    display: table;
    clear: both;

body
  font-family: "jaf-facitweb", "Helvetica Neue" sans-serif;
  padding: 25px;
  font-size: 14px;
  line-height: leading;

p, h1, h2, h3, h4, h5
  margin: leading 0;
  vertical-align: baseline;

.show-grid
  spacing=leading;
  vcolour=blue;
  hcolour=red;
  //background-image: -webkit-linear-gradient(hcolour 1px, transparent 1px),
    -webkit-linear-gradient(0deg, vcolour 1px, transparent 1px),
    -webkit-linear-gradient(rgba(hcolour, .3) 1px, transparent 1px),
    -webkit-linear-gradient(0deg, rgba(vcolour, .3) 1px, transparent 1px);
  background-size: 5*spacing 5*spacing, 5*spacing 5*spacing, spacing spacing, spacing spacing;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;

.wm-button
  vpad = 12px;

  display: inline-block;
  vertical-align: top;
  margin-top: -(vpad/2);
  padding: vpad 16px;
  font-size: 0.86em;
  line-height: 1;
  border-radius: 3px;
  gradient(lighten(lightgrey, 20%), lightgrey);
  color: #777;
  white-space: nowrap;
  text-shadow: 0 1px #FFF;
  box-shadow: 0 5px 3px -4px rgba(#000, 10%),
    inset 0 0 0 1px darken(lightgrey, 25%);
  cursor: pointer;
  &:hover
    background: #F5F5F5;
    box-shadow: 0 4px 6px -4px rgba(black, 40%),
      inset 0  0 0 1px darken(lightgrey, 25%);

.wm-button-inline
  margin-top: 0;
  padding: 7px 10px;

.wm-button-blue
  gradient(lighten(blue, 20%), blue);
  text-shadow: none;
  box-shadow: 0 5px 3px -4px rgba(blue, 25%),
    inset 0  0 0 1px darken(blue, 20%),
    inset 0 0 0 2px rgba(white, 10%);
  color: #FFF;
  &:hover
    background: lighten( blue, 30%);
    box-shadow: 0 4px 6px -4px rgba(black, 40%),
      inset 0 0 0 1px darken(blue, 10%);

.wm-button-green
  background: green;
  text-shadow: none;
  box-shadow: 0 5px 3px -4px rgba(green, 20%),
    inset 0  0 0 1px darken(green, 25%),
    inset 0 0 0 2px rgba(white, 10%);
  color: #FFF;
  &:hover
    background: lighten( green, 10%);
    box-shadow: 0 4px 6px -4px rgba(black, 40%),
      inset 0  0 0 1px darken(green, 10%);

/*********************************************************
* Units
*/

.wm-unit
  clearfix()
  margin-bottom: leading;
.wm-unit-header
  font-weight: 700;
  font-size: 1.1em;
.wm-unit-side
  float: left;
  margin-right: leading;
.wm-unit-body
  display: table;
  position: relative;

.wm-unit-menu
  position: absolute;
  bottom: 0;
  right: 0
