body {
  font-family: "jaf-facitweb", "Helvetica Neue" sans-serif;
  padding: 25px;
  font-size: 14px;
  line-height: 25px;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 25px 0;
  vertical-align: baseline;
}
.show-grid {
  background-size: 125px 125px, 125px 125px, 25px 25px, 25px 25px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
.wm-button {
  display: inline-block;
  vertical-align: top;
  margin-top: -6px;
  padding: 12px 16px;
  font-size: 0.86em;
  line-height: 1;
  border-radius: 3px;
  background: #f1f1f1;
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #eee 100%);
  color: #777;
  white-space: nowrap;
  text-shadow: 0 1px #fff;
  box-shadow: 0 5px 3px -4px rgba(0,0,0,0.1), inset 0 0 0 1px #b3b3b3;
  cursor: pointer;
}
.wm-button:hover {
  background: #f5f5f5;
  box-shadow: 0 4px 6px -4px rgba(0,0,0,0.4), inset 0 0 0 1px #b3b3b3;
}
.wm-button-inline {
  margin-top: 0;
  padding: 7px 10px;
}
.wm-button-blue {
  background: #5ab1f3;
  background-image: -webkit-linear-gradient(top, #5ab1f3 0%, #319ef0 100%);
  text-shadow: none;
  box-shadow: 0 5px 3px -4px rgba(49,158,240,0.25), inset 0 0 0 1px #1082d8, inset 0 0 0 2px rgba(255,255,255,0.1);
  color: #fff;
}
.wm-button-blue:hover {
  background: #6fbbf4;
  box-shadow: 0 4px 6px -4px rgba(0,0,0,0.4), inset 0 0 0 1px #1691ee;
}
.wm-button-green {
  background: #1eb771;
  text-shadow: none;
  box-shadow: 0 5px 3px -4px rgba(30,183,113,0.2), inset 0 0 0 1px #178955, inset 0 0 0 2px rgba(255,255,255,0.1);
  color: #fff;
}
.wm-button-green:hover {
  background: #22d181;
  box-shadow: 0 4px 6px -4px rgba(0,0,0,0.4), inset 0 0 0 1px #1ba566;
}
/*********************************************************
* Units
*/
.wm-unit {
  margin-bottom: 25px;
  background: green;
}
.wm-unit:after {
  content: "";
  display: table;
  clear: both;
}
.wm-unit-header {
  font-weight: 700;
  font-size: 1.1em;
}
.wm-unit-side {
  float: left;
  margin-right: 25px;
  position: relative;
  background: blue;
}
.wm-unit-body {
  display: table;
  position: relative;
  background: red;
}
.wm-unit-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}
